<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="/js/main.js" defer></script>
    <title>Mini Message Board</title>
  </head>
  <body>
    <main class="main">
      <h1><%= title %></h1>
      <a href="/new">
        <button class="new-msg-button">New Message</button>
      </a>
      <% messages.forEach(message => { %>
        <div class="msg-container">
          <p class="msg-text">Message: <%= message.message %></p>
          <p class="msg-user">User: <%= message.username %></p>
          <% if (message.added) { %>
            <p class="added-date">Date: <%= message.added.toLocaleString() %></p>
          <% } %>
          <a href="/selected-msg/<%= message.id %>"><button class="open">View</button></a>
        </div>
      <% }); %>
      
      
      
    </main>
  </body>
</html>
